*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body{
    font-family: 'PTSans';
    cursor: default;
}
button{
    outline: 0 none;
    border: none;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}
.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

header{
    height: 117px;
    background-color: #0072bc;
        color: #fdfafa;
        font-weight: bold;
        .flex{
            display: flex;
            justify-content: space-between;
        }
    .head{
        .logo{
        width: 367px;
        height: 98px;
        position: absolute;
        background: url(../img/clown-fish.webp) center no-repeat;
    }
}
    .btn{
        width: 250px;
        height: 60px;
        background: #f26522;
        font-size: 26px;
        line-height: 24px;
        color: #fdfafa;
        font-family: 'PTSans';
        font-weight: bold;
        border: 3px solid transparent;
        cursor: pointer;
        margin-top: 28px;
        transition: all .2s ease;
        &:hover{
            background: #fff;
            color: #f26522;
            transition: all .2s ease;
            border: 3px solid #f26522;
        }
        &:active{
            background: #f26522;
            color: #fff;
            transition: all .5s ease;
            border: 3px solid #fff;
        }
    }
}
main{ 
        color: #080808;
    .info{
        .headline{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .caption{
            max-width: 1000px;
            width: 90%;
            font-weight: bold;
            font-size: 45px;
            line-height: 58px;
            margin-top: 35px;
            text-align: center;
        }
        .descr{
            max-width: 735px;
            width: 90%;
            font-size: 30px;
            line-height: 34px;
            text-align: center;
            margin-top: 30px; 
        }
        .actualPositions{
            margin-top: 35px;
            h3{
                font-weight: bold;
                font-size: 30px;
                line-height: 34px;
            }
            ul{
                margin: 35px 0 43px;
                display: flex;
                flex-direction: row;
                display: flex;
                justify-content: space-between;
                li:not(:last-child){
                    width: 251px;
                    max-height: 456px;
                    height: 100%;
                    border: 2px solid #acacac;
                    border-radius: 9px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0 30px;
                    img{
                        width: 100%;
                    }
                    h3{
                        font-weight: bold;
                        color: #8e0000;
                        font-size: 22px;
                        line-height: 24px;
                        margin-bottom: 22px;
                    }
                    .rollDescr{
                        font-size: 16px;
                        line-height: 23px;
                        color: #333;
                        text-align: center;
                        margin-bottom: 38px;
                    }
                        .available{
                            margin-bottom: 30px;
                            font-weight: bold;
                            font-size: 17px;
                            line-height: 24px;
                            color: #06811a;
                            &:hover{
                              color: #8e0000;
                            }
                        }
                        .notAvailable{
                            cursor: not-allowed;
                            font-weight: bold;
                            font-size: 17px;
                            line-height: 24px;
                            color: #444;
                            margin-bottom: 30px;
                    }
                }
                .set{
                    height: 90%;
                }
            }
        }
    }
    .offer{
        background: #6dcff6;
        .flex{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h2{
            font-weight: bold;
            font-size: 45px;
            line-height: 24px;
            color: #fff;
            margin-top: 70px;
            margin-bottom: 50px;
            text-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
        }
        .slider{
            width: 77%;

            img{
            cursor: pointer;
        }
        }
        .arr{
            width: 30px;
            height: 30px;
            border-top: 5px solid white;
            border-right: 5px solid white;
            position: relative;
        }
        .next{
            transform: rotate(45deg);
            bottom: 190px;
            left: 100px;
        }
        .prev{
            transform: rotate(-135deg);
            bottom: 160px;
            right: 100px;
        }
        .slick-dots {
            bottom: 100px;
        }
        .slick-dots li {
            width: 40px;
        }
        .slick-dots li.slick-active button:before {
            opacity: 1;
            color: white;
        }
        .slick-dots li button:before{
            opacity: 1;
            color: white;
        }
        .slick-dots li button:before {
            font-size: 40px;
        }
        .slick-slide{
            outline: 0 none;
            margin-bottom: 200px;
            img{
                outline: 0 none;
            }
        }
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-weight: bold;
}
@media screen and (max-width: 1335px){
    img{
        width: 100%;
        object-fit: cover;
    }
    main .info .caption {
       font-size: 33px;
    }
    main .info .descr {
       font-size: 23px;
    }
    main .info .actualPositions h3 {
       font-size: 25px;
    }
    main .offer h2{
        font-size: 33px;
    }
    main .info .actualPositions ul li:not(:last-child) img {
        width: 80%;
    }
    main .info .actualPositions ul li:not(:last-child) .rollDescr {
       font-size: 14px;
       line-height: 20px;
       margin-bottom: 15px;
    }
    main .info .actualPositions ul li:not(:last-child) .notAvailable, main .info .actualPositions ul li:not(:last-child) .available {
       font-size: 15px;
       line-height: 24px;
       margin-bottom: 20px;
       text-align: center;
    }
    
main .info .actualPositions ul li:not(:last-child) h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

main .info .actualPositions ul li:not(:last-child){
    padding: 0 15px;
}
main .offer .slider {
    width: 55%;
}
main .info .actualPositions ul {
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    li:not(:last-child){
        margin-bottom: 50px;
    }
}
main .info .actualPositions ul li{
    height: 100%;
    .set {
        height: 75%;
        object-fit: contain;
    }
}
}
@media screen and (max-width:970px){
    main .info .caption {
        font-size: 28px;
    }
    main .info .descr {
        font-size: 21px;
    }
    main .info .actualPositions ul li:not(:last-child) {
        height: 355px;
    }
    
    main .offer .slick-slide {
        margin-bottom: 100px;
    }
    main .offer .slick-dots li button:before {
        font-size: 35px;
    }
    main .offer .slick-dots {
        bottom: 35px;
    }
}
@media screen and (max-width: 820px){

    main .offer h2 {
        font-size: 27px;
        text-align: center;
    }
    header .btn{
        display: none;
    }
    header .head .logo {
        width: 140px;
        height: 96px;
        background-position: 0 0;
    }
}
@media screen and (max-width: 445px){
    main .info .caption {
        line-height: 42px;
        font-size: 21px;
    }
    main .info .descr {
        font-size: 16px;
    }
}