* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "PTSans";
  cursor: default;
}

button {
  outline: 0 none;
  border: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

header {
  height: 117px;
  background-color: #0072bc;
  color: #fdfafa;
  font-weight: bold;
}
header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header .head .logo {
  width: 367px;
  height: 98px;
  position: absolute;
  background: url(../img/clown-fish.webp) center no-repeat;
}
header .btn {
  width: 250px;
  height: 60px;
  background: #f26522;
  font-size: 26px;
  line-height: 24px;
  color: #fdfafa;
  font-family: "PTSans";
  font-weight: bold;
  border: 3px solid transparent;
  cursor: pointer;
  margin-top: 28px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
header .btn:hover {
  background: #fff;
  color: #f26522;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 3px solid #f26522;
}
header .btn:active {
  background: #f26522;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 3px solid #fff;
}

main {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: #080808;
}
main .info .headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
main .info .caption {
  max-width: 1000px;
  width: 90%;
  font-weight: bold;
  font-size: 45px;
  line-height: 58px;
  margin-top: 35px;
  text-align: center;
}
main .info .descr {
  max-width: 735px;
  width: 90%;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  margin-top: 30px;
}
main .info .actualPositions {
  margin-top: 35px;
}
main .info .actualPositions h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
}
main .info .actualPositions ul {
  margin: 35px 0 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
main .info .actualPositions ul li:not(:last-child) {
  width: 251px;
  max-height: 456px;
  height: 100%;
  border: 2px solid #acacac;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 30px;
}
main .info .actualPositions ul li:not(:last-child) img {
  width: 100%;
}
main .info .actualPositions ul li:not(:last-child) h3 {
  font-weight: bold;
  color: #8e0000;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 22px;
}
main .info .actualPositions ul li:not(:last-child) .rollDescr {
  font-size: 16px;
  line-height: 23px;
  color: #333;
  text-align: center;
  margin-bottom: 38px;
}
main .info .actualPositions ul li:not(:last-child) .available {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #06811a;
}
main .info .actualPositions ul li:not(:last-child) .available:hover {
  color: #8e0000;
}
main .info .actualPositions ul li:not(:last-child) .notAvailable {
  cursor: not-allowed;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #444;
  margin-bottom: 30px;
}
main .info .actualPositions ul .set {
  height: 90%;
}
main .offer {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  background: #6dcff6;
}
main .offer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
main .offer h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 24px;
  color: #fff;
  margin-top: 70px;
  margin-bottom: 50px;
  text-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
}
main .offer .slider {
  width: 77%;
}
main .offer .slider img {
  cursor: pointer;
}
main .offer .arr {
  width: 30px;
  height: 30px;
  border-top: 5px solid white;
  border-right: 5px solid white;
  position: relative;
}
main .offer .next {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 190px;
  left: 100px;
}
main .offer .prev {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  bottom: 160px;
  right: 100px;
}
main .offer .slick-dots {
  bottom: 100px;
}
main .offer .slick-dots li {
  width: 40px;
}
main .offer .slick-dots li.slick-active button:before {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: white;
}
main .offer .slick-dots li button:before {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: white;
}
main .offer .slick-dots li button:before {
  font-size: 40px;
}
main .offer .slick-slide {
  outline: 0 none;
  margin-bottom: 200px;
}
main .offer .slick-slide img {
  outline: 0 none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
  font-weight: bold;
}

@media screen and (max-width: 445px) {
  main .info .caption {
    line-height: 42px;
    font-size: 21px;
  }

  main .info .descr {
    font-size: 16px;
  }
}
@media screen and (max-width: 820px) {
  main .offer h2 {
    font-size: 27px;
    text-align: center;
  }

  header .btn {
    display: none;
  }

  header .head .logo {
    width: 140px;
    height: 96px;
    background-position: 0 0;
  }
}
@media screen and (max-width: 970px) {
  main .info .caption {
    font-size: 28px;
  }

  main .info .descr {
    font-size: 21px;
  }

  main .info .actualPositions ul li:not(:last-child) {
    height: 355px;
  }

  main .offer .slick-slide {
    margin-bottom: 100px;
  }

  main .offer .slick-dots li button:before {
    font-size: 35px;
  }

  main .offer .slick-dots {
    bottom: 35px;
  }
}
@media screen and (max-width: 1335px) {
  img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  main .info .caption {
    font-size: 33px;
  }

  main .info .descr {
    font-size: 23px;
  }

  main .info .actualPositions h3 {
    font-size: 25px;
  }

  main .offer h2 {
    font-size: 33px;
  }

  main .info .actualPositions ul li:not(:last-child) img {
    width: 80%;
  }

  main .info .actualPositions ul li:not(:last-child) .rollDescr {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  main .info .actualPositions ul li:not(:last-child) .notAvailable, main .info .actualPositions ul li:not(:last-child) .available {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  main .info .actualPositions ul li:not(:last-child) h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  main .info .actualPositions ul li:not(:last-child) {
    padding: 0 15px;
  }

  main .offer .slider {
    width: 55%;
  }

  main .info .actualPositions ul {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  main .info .actualPositions ul li:not(:last-child) {
    margin-bottom: 50px;
  }

  main .info .actualPositions ul li {
    height: 100%;
  }
  main .info .actualPositions ul li .set {
    height: 75%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}